$body-bg: #1c1c1c;

$font-family-sans-serif: "Poppins", Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
// Import Bootstrap and its default variables
:root {
  --orange: #f0a400;
  --white: #f5f5f5;
  --gray-background: #4e4e4e;
  --black-link: #000000;
}

.link {
  color: var(--black-link);
  align-items: center;
  &:hover {
    color: var(--orange);
  }
}
h1 {
  font-size: 30px;
  color: var(--white);
  border-bottom: 2px solid #f0a400;
  padding: 5px;
  margin-bottom: 5px;
}
p,
li {
  color: var(--orange);
}
span {
  color: var(--white);
}

img {
  border-radius: 5px;
}

span {
  font-size: 20px;
}
.container-infos {
  background-color: var(--gray-background);
}

@import "~bootstrap/scss/bootstrap.scss";
